<ul class="list-unstyled">
  <li class="nav-item">
    <a class="nav-link{% if page.title == "Home" %} nav-link-active{% endif %}" href="{{ site.baseurl }}/">Início</a>
  </li>

  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <li class="nav-item">
          <a class="nav-link{% if page.url == node.url %} nav-link-active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/about/#como-enviar-um-site">Enviar um site</a>
  </li>
</ul>

<hr class="main-sidebar-hr">

<ul class="list-unstyled">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/wpbrasil/odin" target="_blank">Odin no GitHub</a>
  </li> 
</ul>
