<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <title>
    {% if page.title == "Home" %}
      Odin Expo
    {% else if %}
      {{ page.title }} &middot; Odin Expo
    {% endif %}
  </title>  

  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" />  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/odin-bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">

  <meta property="og:type" content="{% if page.title == "Home" %}website{% else %}article{% endif %}">
  <meta property="og:title" content="{% if page.title == "Home" %}{{ site.name }}{% else %}{{ page.title }} - Odin Expo{% endif %}" >
  <meta property="og:description" content="{{ site.description }}" >
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl | append: page.url }}" >
  <meta property="og:site_name" content="{{ site.name }}" >
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{% if page.screenshot %}/screenshots/{{ page.screenshot }}{% else %}/img/odin.png{% endif %}">
  <meta property="og:image:type" content="image/png">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@wordpressbrasil" />
  <meta name="twitter:creator" content="@wordpressbrasil" />
</head>
<body>
  <div class="main-sidebar">
    <p class="text-center">
      <a href="{{ site.baseurl }}/" class="site-name">
        <img src="{{ site.baseurl }}/img/odin.png" alt="Odin">
      </a>
    </p>
    <h1><a href="{{ site.baseurl }}/" class="site-name">Odin Expo</a></h1>
    <p class="subtitle">Projetos feitos com Odin.</p>
    <p class="byline">Mantido por <a href="https://github.com/wpbrasil" target="_blank">@wpbrasil</a></p>

    <hr class="main-sidebar-hr">

    {% include navigation.html %}

    <hr class="main-sidebar-hr">
  </div>
  <div class="main-container">
    {{ content }}
  </div>
</body>
</html>
